<!DOCTYPE html>
<html>

<head>
    <title>Interaction Draw Feature</title>
    <%- include shared/headerInclude %>
</head>

<body>
    <%- include shared/header %>

        <div id="cesiumContainer"></div>
        <div id="toolbar"></div>
        <div id="logging"></div>
        <div id="loadingIndicator" class="cover">
            <div id="loadingIcon" class="loadingIndicator"></div>
        </div>
        <div id="baseLayerPickerContainer"></div>

        <%- include shared/footer %>
</body>

<%- include shared/footerInclude %>

</html>