<!DOCTYPE html>
<html>

<head>
    <title>Interaction Draw Feature</title>
    <%- include shared/headerInclude %>
</head>

<body>
    <%# include shared/header %>

        <div id='cesium-div'>
            <div id="cesiumContainer"></div>
            <div id='layer-switch'>
                <div>
                    <span id='layer-switch-btn' class='cesium-button cesium-toolbar-button' onclick='$("#layers").toggle()'>
                        <i class="fas fa-bars"></i>
                    </span>
                    <div id='layers'>
                        <div id='top-tool'>
                            <span>
                                <span title='add data' class='tool-item cesium-button cesium-toolbar-button' onclick='$(this).next("input").click();'>
                                    <i class="fas fa-database"></i>
                                </span>
                                <input name='myfile' type='file' style="display: none;">
                            </span>
                        </div>
                        <div id="switcher">
                            <table>
                                <tbody data-bind="foreach: layers">
                                    <!-- <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }"> -->
                                    <tr>
                                        <td>
                                            <input type="checkbox" data-bind="checked: show">
                                        </td>
                                        <td>
                                            <span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
                                            <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>
                                        </td>
                                        <td>
                                            <input type="range" min="0" max="1" step="0.01" data-bind="visible:false,value: alpha, valueUpdate: 'input'">
                                        </td>
                                        <td>
                                            <button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($data, $index())">▲</button>
                                        </td>
                                        <td>
                                            <button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($data, $index())">▼</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="toolbar"></div>
            <div id="logging"></div>
            <div id="loadingIndicator" class="cover">
                <div id="loadingIcon" class="loadingIndicator"></div>
            </div>
            <div id="baseLayerPickerContainer"></div>
        </div>

        <%# include shared/footer %>
</body>

<%- include shared/footerInclude %>

</html>