html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  position: relative; }

#cesium-div {
  position: relative;
  height: 100%;
  width: 100%; }
  #cesium-div .cesium-viewer-bottom {
    display: none; }
  #cesium-div #layer-switch {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%; }
    #cesium-div #layer-switch > div {
      height: 100%;
      width: 100%;
      position: relative; }
      #cesium-div #layer-switch > div #layer-switch-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px; }
      #cesium-div #layer-switch > div #layers {
        position: relative;
        background: rgba(38, 38, 38, 0.75);
        width: 330px;
        height: 100%;
        border-radius: 5px;
        margin-top: 15px; }
        #cesium-div #layer-switch > div #layers #top-tool {
          padding-top: 2px;
          color: #edffff;
          display: block;
          border-bottom: 1px solid #444;
          width: 100%; }
          #cesium-div #layer-switch > div #layers #top-tool .tool-item {
            width: 30px;
            height: 25px;
            font-size: 12px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center; }
        #cesium-div #layer-switch > div #layers #switcher {
          width: 100%;
          padding: 2 4px;
          border-radius: 4px;
          margin: 5px;
          color: #fff; }
          #cesium-div #layer-switch > div #layers #switcher input {
            vertical-align: middle;
            padding-top: 2px;
            padding-bottom: 2px; }
          #cesium-div #layer-switch > div #layers #switcher table {
            width: 100%; }
            #cesium-div #layer-switch > div #layers #switcher table tr {
              transform: translateY(0);
              transition: transform 0.4s ease-out; }
            #cesium-div #layer-switch > div #layers #switcher table tr.up {
              transform: translateY(33px);
              transition: none; }
            #cesium-div #layer-switch > div #layers #switcher table tr.down {
              transform: translateY(-33px);
              transition: none; }
            #cesium-div #layer-switch > div #layers #switcher table td button {
              padding: 4px 5px; }
      #cesium-div #layer-switch > div #layers:before {
        content: '';
        display: inline-block;
        border-width: 8px;
        border-color: transparent transparent rgba(38, 38, 38, 0.75);
        border-style: solid;
        position: absolute;
        left: 12px;
        top: -15px; }
  #cesium-div #toolbar {
    position: absolute;
    top: 0px;
    left: 150px;
    display: inline;
    margin: 10px;
    padding: 0px;
    background: white;
    display: none; }
  #cesium-div #logging {
    position: absolute;
    bottom: 0px;
    right: 0;
    /* display: inline; */
    display: none;
    margin: 10px;
    padding: 10px;
    background: white; }
  #cesium-div #baseLayerPickerContainer {
    position: absolute;
    top: 45px;
    right: 5px;
    width: 38px;
    height: 38px; }

.toolbar > .button,
.toolbar > .divider {
  display: inline-block; }

.twipsy-inner,
.twipsy-arrow,
.twipsy.right {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=style.css.map */
